body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



#nickForm {
  padding: 5px;
  width: 70%;
  height: 30%;
  text-align: center;
  margin: auto;
  margin-top: 20%;
}

#btn-nick {
  margin-top: 5px;
}

.chat-window {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-body {
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow-y: auto;
}

#chat-footer {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  margin-top: 5px;
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#chat-footer>button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.message-meta {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.message-meta>li {
  padding: 0.5rem 1rem;
}

.message-meta>li:nth-child(odd) {
  background: #efefef;
}

.logBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}


.allUsersCont {
  background-color: steelblue;
  position: absolute;
  text-align: center;
  right: 0;
  margin-top: 5rem;
  border: #333 solid 1px;
  width: 23%;
  box-sizing: border-box;
}

.privateMsgWindow {
  width: 350px;
  height: 450px;
  border: solid #000 1px;
  margin-left: 550px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.privateMsgHeader {
  box-shadow: lightgreen;
  text-align: center;
  background-color: tan;
  border: lightcoral solid 2px;
}

.priateMsgBody {
  box-sizing: border-box;
  padding: 3px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.privateMsgFooter {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  height: 4rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  margin-top: 0px;

}

.privateMsgFooter>input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

.privateMsgFooter>button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}






code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}